.vscode/
**/*.user
**/*.suo
*.log
# Ignore node_modules folder (for a Node.js project)
node_modules/

# Ignore environment files
.env

# Ignore all log files
*.log

# Ignore Mac OS system files
.DS_Store

# Ignore folders like bin, obj (for .NET Core projects)
bin/
obj/
Azure.txt
appsettings.Development.json
Release/
.fake
.azure
api/.azure